	<head>
	
		<title>Blue - Pokedex</title>
		
		<meta charset='uft-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/15px-Pok%C3%A9_Ball_icon.svg.png'>
		
		<link rel='stylesheet' href='css/style.css'>

		<script type='text/javascript'>
			const pkd = `<%- JSON.stringify(pokedex) %>`;        
			const pk = JSON.parse(pkd);
		</script>

	</head>
	
	<body>
		<%- include('./partials/popup.ejs') %>
		<%- include('./partials/header.ejs') %>
		<main>
			<section id='cadastro'>
				<h2>Register a new pokemon!</h2>
				<form id='enterPoke' action='/include' method='POST'>
					<div>
						<div>
							<label for='name'>Name:</label>
							<input type='text' id='name' name='name' required>
						</div>
						<div>
							<label for='type'>Type:</label>
							<input type='text' id='type' name='type' required>
						</div>
						<div>
							<label for='description'>Description:</label>
							<input type='text' id='description' name='description' required>
						</div>
						<div>
							<label for='height'>Height: (m) ex.: 0.8 </label>
							<input type='number' min='0.1' step='0.1' id='height' name='height' required>
						</div>
						<div>
							<label for='weight'>Weight: (kg) ex.: 25.8 </label>
							<input type='number' min='0.1' step='0.1' id='weight' name='weight' required>
						</div>
						<div>
							<label for='category'>Category:</label>
							<input type='text' id='category' name='category' required>
						</div>
						<div>
							<label for='abilities'>Abilities: (ex.: Bind, Horn Drill)</label>
							<input type='text' id='abilities' name='abilities' required>
						</div>
						<div>
							<label for='weaknesses'>Weaknesses: (ex.: Fire, Ground)</label>
							<input type='text' id='weaknesses' name='weaknesses' required>
						</div>
					</div>
					<div>
						<label for='picture'>Link for pokemon's image:</label>
						<input type='url' id='picture' name='picture' required>
					</div>
					<div>
						<button id='recordBtn' type='submit'>Record</button>
					</div>
				</form>
			</section>
			<%- include('./partials/nav.ejs') %>
		</main>
		<%- include('./partials/footer.ejs') %>
		
		<script src="js/scripts.js"></script>
	</body>
</html>