	<head>
	
		<title>Blue - Pokedex</title>
		
		<meta charset='uft-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<!-- <link rel='icon' href='./src/img/icon.png'> -->
		
		<link rel='stylesheet' href='/css/style.css'>

	</head>
	
	<body>
		<%- include('./partials/header.ejs') %>
		<main>
			<section id='details'>
				<div id='listing'>
					<div class='lander'>
						<% p.forEach((poke) =>{ %>
						<a href='/details/<%= poke.id %>'>
							<div id="i<%= p.indexOf(poke) + 1 %>" class='mini' onclick='changing(id)'>
								<img src="<%= poke.picture%>" alt="<%= poke.name%> picture">
							</div>
						</a>
						<% }) %>
					</div>
				</div>
				<div id='pokedet'>
					<div class='dets'>
							<div class='detail'>
								<div>
									<img src="<%= pokemon.picture%>" alt="<%= pokemon.name%>'s picture">
									<div>
										<h1>Name: <%= pokemon.name%></h1>
										<h2>Type: <%= pokemon.type%></h2>
										<h2>Category: <%= pokemon.category%></h1>
										<h2>Height: <%= pokemon.height%>m</h2>
										<h2>Weight: <%= pokemon.weight%>Kg</h2>
									</div>
								</div>
								<div>
									<div>
										<div>
											<h2>Abilities</h2>
											<% pokemon.abilities.forEach((a) =>{ %>
											<h3><%= a%></h3>
											<% }) %>
										</div>
										<div>
											<h2>Weaknesses</h2>
											<% pokemon.weaknesses.forEach((w) =>{ %>
											<h3><%= w%></h3>
											<% }) %>
										</div>
									</div>
								</div>
								<p><%= pokemon.description%></p>
								<!-- <a href=''>Editar</a> -->
							</div>
					</div>
				</div>
			</section>
			<%- include('./partials/nav.ejs') %>
		</main>
		<%- include('./partials/footer.ejs') %>
		<script src="/js/scripts.js"></script>
	</body>
</html>