<!DOCTYPE html>
<html lang='en'>
	<head>
	
		<title>Blue - Pokedex</title>
		
		<meta charset='uft-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<!-- <link rel='icon' href='./src/img/icon.png'> -->
		
		<link rel='stylesheet' href='css/style.css'>

	</head>
	
	<body>
		<header>
			<div>
				<h1>Smart Pokedex</h1>
			</div>
		</header>
		<main>
			<section id='deck'>
				<div id='pokedex'>
					<div class='cards'>
						<% pokedex.forEach((pokemon) => { %>
							<div class='pokemon'>
								<div>
									<h1><%= pokemon.name%></h1>
									<h3><%= pokemon.type%></h3>
								</div>
								<img src="<%= pokemon.picture %>" alt="<%= pokemon.name%> picture">
								<div>
									<p><%= pokemon.description%></p>
									<a href='/details/<%= pokemon.id %>'>Details</a>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
				<div id='listing'>
					<div class='lander'>
						<% pokedex.forEach((pokemon) =>{ %>
						<div id="i<%= pokedex.indexOf(pokemon) + 1 %>" class='mini' onclick='changing(id)'>
							<img src="<%= pokemon.picture %>" alt="<%= pokemon.name%> picture">
						</div>
						<% }) %>
					</div>
				</div>
			</section>
			<section id='menu'>
				<nav id="navbar">
					<ul id="nav">
						<li><a href="/">Pokedex</a></li>
						<li><a href="/register">Register a new Pokemon</a></li>
						<li><a href="/details/1">Details</a></li>
					</ul>
					<div class="pokeball">
						<div></div>
					</div>
				</nav>
			</section>
		</main>
		<footer>
			<a href='https://github.com/Malkavianson'>Created by @Malkavianson</a>
		</footer>
		<script src="js/scripts.js"></script>
	</body>
</html>