<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Blue - Pokedex</title>
		<meta charset='uft-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/15px-Pok%C3%A9_Ball_icon.svg.png'>
		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<%- include('./partials/header.ejs') %>
		<main>
			<section id='deck'>
				<div id='pokedex'>
					<div class='cards'>
						<% p.forEach((pokemon) => { %>
							<div class='pokemon'>
								<div>
									<h1><%= pokemon.name%></h1>
									<h3><%= pokemon.type%></h3>
								</div>
								<img src="<%= pokemon.picture %>" alt="<%= pokemon.name%> picture">
								<div>
									<button onclick="window.location.href='/details/<%= pokemon.id %>'">Details</button>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
				<div id='listing'>
					<div class='lander'>
						<% p.forEach((pokemon) =>{ %>
						<div id="i<%= p.indexOf(pokemon) + 1 %>" class='mini' onclick='changing(id)'>
							<img src="<%= pokemon.picture %>" alt="<%= pokemon.name%> picture">
						</div>
						<% }) %>
					</div>
				</div>
			</section>
			<%- include('./partials/nav.ejs') %>
		</main>
		<%- include('./partials/footer.ejs') %>
		<script src="/js/scripts.js"></script>
	</body>
</html>